In [3]:
# Shadia's blank canvas

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import gmaps
from scipy.stats import linregress
from pprint import pprint

covid_clean_CA_TX = "../Resources/covid_clean_CA_TX.csv"
CA_county_landsize = "../Resources/CA_county_landsize.csv"
TX_county_landsize = "../Resources/TX_county_landsize.csv"

In [4]:
covid_clean_CA_TX_df = pd.read_csv(covid_clean_CA_TX, encoding="ISO-8859-1")

covid_clean_CA_TX_df.head()

,State,countyFIPS,County Name,population,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,...,10/21/2020,10/22/2020,10/23/2020,10/24/2020,10/25/2020,10/26/2020,10/27/2020,10/28/2020,10/29/2020,10/30/2020
0,CA,6000,Grand Princess Cruise Ship,0,6,0,0,0,0,0,...,21,21,21,21,21,21,21,21,21,21
1,CA,6001,Alameda County,1671329,6,0,0,0,0,0,...,22932,23001,23133,23215,23312,23391,23391,23576,23636,23775
2,CA,6003,Alpine County,1129,6,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
3,CA,6005,Amador County,39752,6,0,0,0,0,0,...,276,287,291,291,291,299,301,302,308,311
4,CA,6007,Butte County,219186,6,0,0,0,0,0,...,3018,3030,3047,3047,3047,3073,3073,3113,3127,3144

In [6]:
covid_clean_CA_df = covid_clean_CA_TX_df.loc[covid_clean_CA_TX_df["State"]=="CA",:]
covid_clean_CA_df.head()

,State,countyFIPS,County Name,population,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,...,10/21/2020,10/22/2020,10/23/2020,10/24/2020,10/25/2020,10/26/2020,10/27/2020,10/28/2020,10/29/2020,10/30/2020
0,CA,6000,Grand Princess Cruise Ship,0,6,0,0,0,0,0,...,21,21,21,21,21,21,21,21,21,21
1,CA,6001,Alameda County,1671329,6,0,0,0,0,0,...,22932,23001,23133,23215,23312,23391,23391,23576,23636,23775
2,CA,6003,Alpine County,1129,6,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
3,CA,6005,Amador County,39752,6,0,0,0,0,0,...,276,287,291,291,291,299,301,302,308,311
4,CA,6007,Butte County,219186,6,0,0,0,0,0,...,3018,3030,3047,3047,3047,3073,3073,3113,3127,3144

In [7]:
covid_clean_TX_df = covid_clean_CA_TX_df.loc[covid_clean_CA_TX_df["State"]=="TX",:]
covid_clean_TX_df.head()

,State,countyFIPS,County Name,population,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,...,10/21/2020,10/22/2020,10/23/2020,10/24/2020,10/25/2020,10/26/2020,10/27/2020,10/28/2020,10/29/2020,10/30/2020
59,TX,48001,Anderson County,57735,48,0,0,0,0,0,...,2922,2934,2935,2941,2941,2946,2949,2961,2970,2970
60,TX,48003,Andrews County,18705,48,0,0,0,0,0,...,567,567,567,584,584,584,628,628,655,667
61,TX,48005,Angelina County,86715,48,0,0,0,0,0,...,2277,2277,2277,2277,2277,2277,2304,2304,2317,2317
62,TX,48007,Aransas County,23510,48,0,0,0,0,0,...,340,340,345,346,348,348,349,350,350,351
63,TX,48009,Archer County,8553,48,0,0,0,0,0,...,133,133,136,137,137,137,142,154,160,161

In [8]:
CA_county_landsize_df = pd.read_csv(CA_county_landsize, encoding="ISO-8859-1")
CA_county_landsize_df = CA_county_landsize_df.rename(columns={"Ã¯Â»Â¿Land": " Land Area","County": "County Name"})
CA_county_landsize_df.head()

    Land Area     County Name
0    20056.92  San Bernardino
1    10180.87            Inyo
2     8131.91            Kern
3     7206.47       Riverside
4     6277.88        Siskiyou

In [9]:
TX_county_landsize_df = pd.read_csv(TX_county_landsize, encoding="ISO-8859-1")
TX_county_landsize_df = TX_county_landsize_df.rename(columns={"Ã¯Â»Â¿County": "County Name"})
TX_county_landsize_df.head()

  County Name  Land Area
0    Anderson     1062.6
1     Andrews     1500.7
2    Angelina      797.8
3     Aransas      252.1
4      Archer      903.3

In [ ]:
final_clean_data_pd =